.node {
	--backgroundColor: hsl(235, 12%, 20%);
	background-color: hsl(from var(--backgroundColor) h s 25%);
	border-radius: 1rem;
	padding: 0.5rem;
	border: 1px solid rgb(243, 158, 158);

	width: 75vw;

	transition: background-color 0.3s;

	.node {
		width: 100%;
	}

	&.expanded {
		background-color: rgb(from var(--col-primary) r g b / 0.5);
	}

	&.empty {
		border: 1px solid rgba(255, 255, 255, 0.6);
		background-color: var(--backgroundColor);
	}

	.nodeHeader {
		display: flex;
		align-items: center;

		> .nodeInfo {
			flex: 1 1 auto;
		}

		> img {
			margin: 0 0.5rem;

			transition: rotate 0.2s;
		}

		.nodeStats {
			color: rgb(179, 179, 179);
		}

		.nodeTitle {
			--max-width: 75%;

			font-size: 25px;
			font-weight: 500;

			background-color: transparent;
			color: white;

			border: none;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			max-width: var(--max-width);

			&:is(input) {
				field-sizing: content;
				@supports not (field-sizing: content) {
					width: var(--max-width);
				}
			}
		}
	}
}
