:root {
	--toastify-toast-width: 25rem;

	--col-primary: rgb(219, 83, 158);
	--col-secondary: rgb(168, 165, 226);
	--col-background: hsl(225, 14%, 11%);
	--col-fail: rgb(236, 73, 61);
	--col-warn: rgb(224, 236, 61);

	--large-padding: 1.7rem;
	--padding: 0.8rem;
	--small-padding: 0.3rem;

	--large-margin: 2rem;
	--margin: 1rem;
	--medium-margin: 0.5rem;
	--small-margin: 0.3rem;

	background-color: var(--col-background);
	color: rgb(236, 236, 236);

	font-family: renogare, monospace;
}

@font-face {
	font-family: renogare;
	src: url("/Renogare-Regular.otf");
}

label:has(> input[type="text"]) {
	background-color: hsl(from var(--col-background) h s 40% / 0.9);
	border-radius: 0.5rem;
	padding: 0 0.5rem 0 0;
	cursor: text;

	outline: 2px solid transparent;
	transition: outline 0.3s;

	> input[type="text"] {
		background-color: transparent;
		border: none;
		color: white;
		padding: 0.5rem;

		&:focus {
			outline: none;
		}
	}

	button.no-pointer {
		opacity: 0;
	}

	&:has(> input[type="text"]:focus) {
		outline: 2px solid rgb(121, 121, 233);
	}
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.space-evenly {
	justify-content: space-evenly;
}

.flex-wrap {
	flex-wrap: wrap;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;

	&.top {
		top: 0;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.bottom {
		bottom: 0;
	}
}

.outline {
	outline: 1px solid red;
}

.no-pointer {
	pointer-events: none;
}

.unselectable {
	user-select: none;
}

.large-padding {
	padding: var(--large-padding);
}

.padding {
	padding: var(--padding);
}

.small-padding {
	padding: var(--small-padding);
}

.large-margin {
	margin: var(--large-margin);
}

.margin {
	margin: var(--margin);
}

.margin-top {
	margin-top: var(--margin);
}

.medium-margin {
	margin: var(--medium-margin);
}

.small-margin {
	margin: var(--small-margin);
}

.large-margin-horizontal {
	margin-left: var(--large-margin);
	margin-right: var(--large-margin);
}

.margin-horizontal {
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.medium-margin-horizontal {
	margin-left: var(--medium-margin);
	margin-right: var(--medium-margin);
}

.small-margin-horizontal {
	margin-left: var(--small-margin);
	margin-right: var(--small-margin);
}

.large-margin-vertical {
	margin-top: var(--large-margin);
	margin-bottom: var(--large-margin);
}

.margin-vertical {
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

.medium-margin-vertical {
	margin-top: var(--medium-margin);
	margin-bottom: var(--medium-margin);
}

.small-margin-vertical {
	margin-top: var(--small-margin);
	margin-bottom: var(--small-margin);
}

.gap {
	gap: var(--margin);
}

.mediumGap {
	gap: var(--medium-margin);
}

.shimmerBackground {
	box-shadow: inset 0 0 4rem rgba(146, 125, 125, 0.3);
}

.transparent {
	opacity: 0;
}

.transparent25 {
	opacity: 0.25;
}

.transparent50 {
	opacity: 0.5;
}

.transparent75 {
	opacity: 0.75;
}
